<!DOCTYPE html>
 <html>
 <head>
   <title>List Of Contacts</title>
 <style type="text/css">
 
   h3{
	   color:orange;
	  padding:3%;
	  background-color: black;
	   text-align:center;
	 }
	body{
	 text-align:center;
	 
	 }
	 head,body{
	  background-color:#e6d575;
	  }
	
        }
  </style>
 </head>
 <body>
 <h3>Update Contact Details</h3>   
 
 <form action="/updating" method="post">   
	Update Sno<input type="number" name="sno">
	<input type="submit" value="Submit">
	</form>

 </table>
 <br><br>
 
 </body>
 </html>