<!DOCTYPE html>
 <html>
 <head>
 <title>Home</title>
  <style type="text/css">
   h2,h3{
	
	 text-align:center;
	  }
   h2{
	   color:orange;
	  padding:3%;
	  background-color: black;
	  }
	  
   div{
	  text-align:center;
	  }
	  head,body{
		  
	  	background-color:#e6d575;
	 	 margin:1%;
	  }
   
  </style>
	 </head>
 <body>
 <h2> Address Book </h2>  
 <h3> Choose Your Option </h3>
 <div>
	<a href="/add">Add Contact</a><br><br>
  	<a href ="/view">Show All Contacts</a><br><br>
	<a href="/delete">Delete Contacts</a><br><br>
	 
</div>
 </body>
 </html>